In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import nltk
import random
from nltk.corpus import movie_reviews
documentsp=[]
documentsn=[]
y=[]
c=cx=0
for category in movie_reviews.categories():
    for fileid in movie_reviews.fileids(category):
        if category=='pos':
            documentsp.append(movie_reviews.words(fileid))
            y.append(1)
            c+=1
        elif category=='neg':
            documentsn.append(movie_reviews.words(fileid))
            y.append(0)
            cx+=1

In [2]:
#rev=nltk.corpus.movie_reviews.words('pos/cv000_29590.txt')
rev_list=[]
for rev in range(1,11):
    #rev_text_msg=rev=nltk.corpus.movie_reviews.words(rev)
    review_one_string=" ".join(documentsp[rev])
    review_one_string=review_one_string.replace(',',',')
    review_one_string=review_one_string.replace('.','.')
    review_one_string=review_one_string.replace("\' ","'")
    review_one_string=review_one_string.replace(" \'","'")
    rev_list.append(review_one_string)
for rev in range(1,11):
    #rev_text_msg=rev=nltk.corpus.movie_reviews.words(rev)
    review_one_string=" ".join(documentsn[rev])
    review_one_string=review_one_string.replace(',',',')
    review_one_string=review_one_string.replace('.','.')
    review_one_string=review_one_string.replace("\' ","'")
    review_one_string=review_one_string.replace(" \'","'")
    rev_list.append(review_one_string)

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect=CountVectorizer(lowercase=True,stop_words='english',min_df=2)
X_count_vect=count_vect.fit_transform(rev_list)
X_names=count_vect.get_feature_names()
from sklearn.feature_extraction.text import TfidfTransformer
tfidf=TfidfTransformer(norm="l2")
tfidf.fit(X_count_vect)
X=tfidf.transform(X_count_vect)
XD=pd.DataFrame(X.toarray(),columns=X_names)

In [4]:
XD.head()

,10,1960,60,able,accent,accompany,act,acting,action,actor,...,worse,worth,worthwhile,writer,written,wrong,year,years,york,young
0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.041873,0.000000,0.000000,0.000000
1,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.056577,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.127648,0.000000,0.000000,0.000000
2,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.278791,0.032970,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.037194,0.055758,0.037194
3,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.053596,0.000000
4,0.0,0.045542,0.045542,0.0,0.0,0.045542,0.000000,0.000000,0.0,0.030379,...,0.045542,0.0,0.0,0.045542,0.0,0.0,0.000000,0.030379,0.000000,0.060758

In [5]:
K=XD.keys()
l=[]
for i in K:
    l.append(i)
l[:10]

['10',
 '1960',
 '60',
 'able',
 'accent',
 'accompany',
 'act',
 'acting',
 'action',
 'actor']

In [6]:
km=KMeans(n_clusters=2)
s=[]
review_one_string=" ".join(documentsn[5])
review_one_string=review_one_string.replace(',',',')
review_one_string=review_one_string.replace('.','.')
review_one_string=review_one_string.replace("\' ","'")
review_one_string=review_one_string.replace(" \'","'")
s.append(review_one_string)
#s[0]=s[0][:30]
sx=[]
review_one_string=" ".join(documentsp[5])
review_one_string=review_one_string.replace(',',',')
review_one_string=review_one_string.replace('.','.')
review_one_string=review_one_string.replace("\' ","'")
review_one_string=review_one_string.replace(" \'","'")
sx.append(review_one_string)
s#[0]=s[0][:30]
s[0]=[s[0]]
#sx[0]=sx[0][:30]
sx[0]=[sx[0]]

In [7]:
y_predicted=km.fit_predict(XD[l])
y_predicted

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int32)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvect = TfidfVectorizer()
test=["my name good deloitte ."]
tvect.fit_transform(XD,y_predicted)
sx[0]=tvect.transform(sx[0])
km.predict(sx[0])

array([0], dtype=int32)

In [9]:
s[0]=tvect.transform(s[0])
km.predict(s[0])

array([1], dtype=int32)